<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)
Copyright (c) 2015 Joel De La Torriente - jjdltc - https://github.com/jjdltc
See a full copy of license in the root folder of the project 
-->

<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-zip-plugin"
    version="2.0.0">

    <name>JJzip</name>
    <description>Cordova zip compress and decompress</description>
    <author>Joel De La Torriente - jjdltc@gmail.com - https://github.com/jjdltc</author>
    <license>MIT</license>    
    <keywords>cordova,zip,compress,decompress,unzip</keywords>
    <repo>https://github.com/jjdltc/jjdltc-cordova-plugin-zip.git</repo>
    <issue>https://github.com/jjdltc/jjdltc-cordova-plugin-zip/issues</issue>

    <js-module src="www/JJzip.js" name="JJzip">
        <clobbers target="JJzip" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJzip" >
                <param name="android-package" value="com.jjdltc.cordova.plugin.zip.JJzip"/>
            </feature>
        </config-file>

        <source-file src="src/android/JJzip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
        <source-file src="src/android/compressZip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
        <source-file src="src/android/decompressZip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JJzip">
                <param name="ios-package" value="JJzip" />
            </feature>
        </config-file>

        <source-file src="src/ios/JJzip.h" />
        <source-file src="src/ios/JJzip.m" />

        <framework src="libz.tbd" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="SSZipArchive" spec="~> 2.1.4" />
            </pods>
        </podspec>
    </platform>
</plugin>
