<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)
Copyright (c) 2015 Joel De La Torriente - jjdltc - https://github.com/jjdltc
See a full copy of license in the root folder of the project 
-->

<plugin 
    xmlns="http://apache.org/cordova/ns/1.0"
    id="com.jjdltc.cordova.plugin.zip"
    version="1.1.0">

    <name>JJzip</name>
    <description>Cordova zip compress and decompress</description>
    <author>Joel De La Torriente - jjdltc@gmail.com - https://github.com/jjdltc</author>
    <license>MIT</license>    
    <keywords>cordova,zip,compress,decompress,unzip</keywords>
    <repo>https://github.com/jjdltc/jjdltc-cordova-plugin-zip.git</repo>
    <issue>https://github.com/jjdltc/jjdltc-cordova-plugin-zip/issues</issue>

    <js-module src="www/JJzip.js" name="JJzip">
        <clobbers target="JJzip" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJzip" >
                <param name="android-package" value="com.jjdltc.cordova.plugin.zip.JJzip"/>
            </feature>
        </config-file>

        <source-file src="src/android/JJzip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
        <source-file src="src/android/compressZip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
        <source-file src="src/android/decompressZip.java" target-dir="src/com/jjdltc/cordova/plugin/zip" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JJzip">
                <param name="ios-package" value="JJzip" />
            </feature>
        </config-file>

        <header-file src="src/ios/JJzip.h" />
        <source-file src="src/ios/JJzip.m" />
        <header-file src="src/ios/SSZipCommon.h" />
        <header-file src="src/ios/ZipArchive.h" />
        <source-file src="src/ios/SSZipArchive.m" />
        <header-file src="src/ios/SSZipArchive.h" />
        <source-file src="src/ios/minizip/mz_compat.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_compat.h" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_crypt.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_crypt.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_crypt_apple.c" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_os.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_os.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_os_posix.c" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_buf.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_buf.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_mem.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_mem.h" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_os.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_os_posix.c" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_pkcrypt.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_pkcrypt.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_split.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_split.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_wzaes.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_wzaes.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_strm_zlib.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_strm_zlib.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_zip.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_zip.h" target-dir="minizip" />
        <source-file src="src/ios/minizip/mz_zip_rw.c" target-dir="minizip" />
        <header-file src="src/ios/minizip/mz_zip_rw.h" target-dir="minizip" />

        <framework src="libz.tbd" />
        <framework src="SSZipArchive" type="podspec" spec="~> 2.2.2" />
    </platform>
</plugin>
